* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(253, 254, 255);
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
}

.header ul {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.header li {
  display: inline;
}
.header li:hover {
  cursor: pointer;
}
.header {
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: inherit;
}
.header h1 {
  margin: 0;
  margin-right: auto;
}

.footer {
  margin-top: auto;
  text-align: center;
  width: 100%;
}

a {
  width: 20%;
  text-decoration: none;
  color: inherit;
}
.photo {
  background-image: url(../photos/mcdonaldsphoto.png);
  background-position: center;
  background-size: cover;
  min-width: 400px;
  min-height: 400px;
}

.content {
  background-color: rgb(226, 225, 225);
}

.details {
  padding-top: 50px;
  padding-bottom: 75px;
}

.details div {
  font-size: 20px;
  font-weight: 600;
  width: 400px;
  padding: 25px;
}

.para p {
  display: inline;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 75px;
  height: 40px;
  margin-top: 75px;
  margin-bottom: 75px;
}

.buttons button {
  background-color: red;
  border-radius: 30px;
  border: none;
  width: 15%;
  height: 100%;
}
.buttons button:hover {
  background-color: rgb(209, 0, 0);
}

.solobtnlink button,
.groupbtnlink button {
  width: 100%;
  height: 100%;
}

a {
  width: 20%;
  text-decoration: none;
  color: inherit;
}
